---
layout: post-grid
---

 {% for post in site.posts %}
<!-- POST -->
	<div class="col-sm-6 col-md-6 col-lg-6 m-b-60">
		<div class="post">
			<div class="post-media">
				<a href="{{post.url | prepend:site.github.url }}">
					<img src="assets/images/blog/{{post.thumbnail}}" alt="">
				</a>
			</div>
			<div class="post-meta font-alt">
				Par <a href="#">{{if post.author}}{{ post.author}}{{else}}{{site.author}}</a> / {{ post.date | date_to_string }} / NbDeCommentaires ???? .
			</div>
			<div class="post-header">
				<h5 class="post-title font-alt">
				<a href="{{post.url | prepend:site.github.url }}">{{ post.title }}</a>
				</h5>
			</div>
			<div class="post-entry">
				<p>{{ post.excerpt }}</p>
			</div>
			<div class="post-more-link font-alt">
				<a href="{{post.url | prepend:site.github.url }}">Contiuer la lecture plus</a>
			</div>
		</div>
	</div>
<!-- /POST -->
{% endfor %}





<p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
