//colors
$color_gallery_approx: #eee;
$color_gallery_70_approx: rgba(238, 238, 238, 0.7);

$color_woodsmoke_approx: #111;
$color_woodsmoke_55_approx: rgba(17, 17, 17, 0.55);
$color_woodsmoke_80_approx: rgba(17, 17, 17, 0.8);

$color_silver_chalice_approx: #aaa;
$color_black_haze_approx: #f7f7f7;
$color_tapa_approx: #777;

$white: #fff;
$white_95: rgba(255, 255, 255, 0.95);
$white_75: rgba(255, 255, 255, 0.75);
$white_70: rgba(255, 255, 255, 0.7);
$white_80: rgba(255, 255, 255, 0.8);
