//colors
$color_gallery_approx: #eee;
$color_woodsmoke_55_approx: rgba(17, 17, 17, 0.55);
$color_woodsmoke_approx: #111;
$color_silver_chalice_approx: #aaa;
$color_black_haze_approx: #f7f7f7;

$white: #fff;
$white_95: rgba(255, 255, 255, 0.95);
$white_75: rgba(255, 255, 255, 0.75);
$white_70: rgba(255, 255, 255, 0.7);
