.search-box {
	position: relative;
}
.search-btn {
	background: transparent;
	border: none;
	position: absolute;
	overflow: hidden;
	right: 1px;
	top: 50%;
	height: 40px;
	width: 42px;
	outline: none;
	margin-top: -20px;
	line-height: 38px;
	font-size: 14px;
	color: $color_gallery_approx;
}
